:root {
  --bg-dark: #030303;
}

@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.woff");
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("./assets/img/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
  font-family: Roboto, sans-serif;
  color: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button,
input {
  outline: none;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

p {
  margin: 0;
}
h2 {
  margin: 0;
}

.video-section__player {
  position: relative;
  flex: none;
  width: 700px;
  margin: 0 auto;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-dark);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.hot-key__inner {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  overflow-x: auto;
}

.hot-key__list {
  max-width: 1200px;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px;
}

.hot-key__item {
  width: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hot-key__name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hot-key__name--lg {
  width: 80px;
}

.hot-key__desc {
  font-size: 18px;
  margin-bottom: 10px;
}

video {
  width: 100%;
  height: calc(100vh - 70px);
  object-fit: cover;
}

.hot-key__inner--active {
  visibility: visible;
  opacity: 1;
}

.video-section__btn-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-image: url("./assets/svg/play-main.svg");
  background-size: cover;
  background-position: center center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.video-section__btn-play:hover {
  filter: invert(60%) sepia(14%) saturate(0%) hue-rotate(272deg) brightness(98%)
    contrast(94%);
}

.play-btnMain--noActive {
  background-image: url("./assets/svg/pause-main.svg");
  width: 25px;
  height: 60px;
  visibility: hidden;
  transition: 0.5s ease-out;
}

.video-section__control {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 0 20px;
}

.video-section__buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.btn-control {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .btn-control:hover {
    filter: invert(60%) sepia(14%) saturate(0%) hue-rotate(272deg)
      brightness(98%) contrast(94%);
  }
}

.btn-prev {
  background-image: url("./assets/svg/arrow-prev.svg");
  background-size: 70%;
}

.btn-play {
  background-image: url("./assets/svg/arrow-play.svg");
  background-size: 70%;
}

.play-btn--noActive {
  background-image: url("./assets/svg/pause.svg");
  background-size: 50%;
}

.btn-next {
  background-image: url("./assets/svg/arrow-next.svg");
  background-size: 70%;
}

.video-section__progress {
  flex: 0 1 35%;
}

.video-section__volume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex: 0 1 25%;
}

.video-section__volume-control {
  width: 70%;
}

.video-section__btn-volume {
  width: 38px;
  height: 30px;
  background-image: url("./assets/svg/volume.svg");
  background-size: 100%;
}

.btn--disabled {
  background-image: url("./assets/svg/volume-off.svg");
}

.video-section__btn-scale {
  width: 36px;
  height: 36px;
  background-image: url("./assets/svg/scale.svg");
  background-size: 70%;
}

.input-range {
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 0.1%,
    #fff 0.1%,
    #fff 100%
  );
  border-radius: 8px;
  height: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.input-range::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #949494;
}

.video-section__volume-control {
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 100%,
    #fff 100%,
    #fff 100%
  );
  border-radius: 8px;
}

.video-library__list {
  display: flex;
  gap: 20px;
  max-width: 700px;
  transition: ease-in-out 0.5s;
  padding: 10px 0;
  overflow-x: auto;
}
.video-library__list::-webkit-scrollbar {
  height: 10px;
  background: #fff;
  border-radius: 50px;
  opacity: 0;
  visibility: hidden;
}
.video-library__list:hover.video-library__list::-webkit-scrollbar {
  visibility: visible;
}

.video-library__list::-webkit-scrollbar-thumb {
  background-color: #223c50;
  border-radius: 50px;
  visibility: hidden;
}
.video-library__list:hover::-webkit-scrollbar-thumb {
  background-color: #949494;
  border-radius: 50px;
  visibility: visible;
}

.video-library__item {
  position: relative;
  flex: none;
  width: 200px;
  border: 3px solid #82cfd0;
  cursor: pointer;
  user-select: none;
}

.video-library__item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-library__title {
  position: absolute;
  inset: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity ease-in-out 0.5s;
}

.video-library__item:hover .video-library__title {
  opacity: 1;
}

/* fullscreen styles=============================== */
@media screen and (min-width: 768px) {
  :-webkit-full-screen .fullscreen {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    margin-bottom: 0;
  }
}

:-webkit-full-screen .fullscreen-btn {
  background-image: url("./assets/svg/scale-min.svg");
}

:-webkit-full-screen .fullscreen-progress {
  flex: 0 1 90%;
}

:-webkit-full-screen .fullscreen-library {
  display: none;
}
@media screen and (max-width: 768px) {
  .hot-key__inner {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .video-section__player {
    width: 100%;
  }
  .video-library__list {
    width: 100%;
  }
  .btn-prev,
  .btn-play,
  .btn-next,
  .video-section__btn-scale {
    background-size: 50%;
  }
  .play-btn--noActive {
    background-size: 40%;
  }
  .video-section__btn-volume {
    background-size: 75%;
  }
}
@media screen and (max-width: 500px) {
  .video-section__player {
    height: 360px;
  }

  video {
    height: 300px;
  }

  .video-section__control {
    flex-wrap: wrap;
    padding: 10px;
    height: 60px;
    gap: 0;
  }
  .video-section__volume {
    flex: 0 1 40%;
  }
  .video-section__progress {
    order: 3;
    flex: 0 1 100%;
  }

  .video-section__buttons {
    gap: 10px;
  }

  .input-range {
    height: 4px;
  }
  .input-range::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
  }
}
@media screen and (max-width: 425px) {
  .video-section__player {
    height: 320px;
  }

  video {
    height: 260px;
  }
  .video-library__item {
    width: 160px;
  }
  .video-library__title {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-height: 700px) and (orientation: landscape) {
  :-webkit-full-screen .fullscreen-progress {
    flex: 0 1 50%;
  }

  .video-section__player {
    height: auto;
  }

  :-webkit-full-screen .fullscreen {
    width: 100%;
    height: 100vh;
    transition: 0.3s;
    margin-bottom: 0;
  }
}
